@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');


.navbar {
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

a {
    max-width: 200px;
    color: white;
    font-style: none;
    text-decoration: none;
    font-family: "Kufam", sans-serif;
    transition: all ease-in-out 0.3s;

}

a:hover {
    opacity: 0.7;
}

.navbar a {
    margin-right: 20px; 

}

.navbar a:last-child {
    margin-right: 0;
}

